<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout"
      class="loading semi-dark-layout" lang="en" data-layout="semi-dark-layout" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <title>Ana Sayfa</title>
    <link rel="shortcut icon" type="image/x-icon" href="/homePage/assets/img/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">

    <!------------------------------------------------------- Other CSS Folder - Start ---------------------------------------------------------->
    <link rel="stylesheet" type="text/css" th:href="@{/dashboardPage/app-assets/vendors/css/charts/apexcharts.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dashboardPage/app-assets/css/pages/dashboard-ecommerce.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dashboardPage/app-assets/css/plugins/charts/chart-apex.css}">
    <!------------------------------------------------------- Other CSS Folder - End ------------------------------------------------------------>

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body>

<th:block layout:fragment="content">
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-body">
                <!-- Ana ekrana aktarılmak istenen component'ler burada yazılmalıdır. -->

                <div class="row match-height">
                    <!-- Earnings Card -->
                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="card earnings-card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <h4 class="card-title mb-1">Aylık Kazanç</h4>
                                        <div class="font-small-2">Net Kar</div>
                                        <h5 class="mb-1" id="id_dashboardEarningChartProfit">$4055.56</h5>
                                        <p class="card-text text-muted font-small-2">
                                            <span class="font-weight-bolder">68.2%</span><span> more earnings than last month.</span>
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <div id="earnings-chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Earnings Card -->

                    <!-- Statistics Card -->
                    <div class="col-xl-8 col-md-6 col-12">
                        <div class="card card-statistics">
                            <div class="card-header">
                                <h4 class="card-title">İstatistikler</h4>
                            </div>
                            <div class="card-body statistics-body">
                                <div class="row">
                                    <div class="col-xl-4 col-sm-6 col-12 mb-2 mb-xl-0">
                                        <div class="media">
                                            <div class="avatar bg-light-primary mr-2">
                                                <div class="avatar-content">
                                                    <i class="far fa-building avatar-icon"></i>
                                                </div>
                                            </div>
                                            <div class="media-body my-auto">
                                                <h4 class="font-weight-bolder mb-0" id="id_dashboardGeneralStatisticsCompany"></h4>
                                                <p class="card-text font-small-3 mb-0">Firma Sayısı</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-6 col-12 mb-2 mb-xl-0">
                                        <div class="media">
                                            <div class="avatar bg-light-info mr-2">
                                                <div class="avatar-content">
                                                    <i class="fas fa-users avatar-icon"></i>
                                                </div>
                                            </div>
                                            <div class="media-body my-auto">
                                                <h4 class="font-weight-bolder mb-0" id="id_dashboardGeneralStatisticsCustomer"></h4>
                                                <p class="card-text font-small-3 mb-0">Müşteriler</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-6 col-12 mb-2 mb-xl-0">
                                        <div class="media">
                                            <div class="avatar bg-light-danger mr-2">
                                                <div class="avatar-content">
                                                    <i class="fas fa-chart-line avatar-icon"></i>
                                                </div>
                                            </div>
                                            <div class="media-body my-auto">
                                                <h4 class="font-weight-bolder mb-0" id="id_dashboardGeneralStatisticsWork"></h4>
                                                <p class="card-text font-small-3 mb-0">İş Girişi</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Statistics Card -->
                </div>

                <div class="row match-height">
                    
                    <div class="col-lg-8 col-md-6 col-12">
                        <div class="card">
                            <table class="datatables-basic table" id="id_dashboardTableCompany">
                                <thead>
                                    <tr>
                                        <th>Firma</th>
                                        <th>Yetkili</th>
                                        <th>Telefon</th>
                                        <th>Toplam Borç</th>
                                        <th>Kayıt Tarihi</th>
                                        <th>Yönetim</th>
                                    </tr>
                                </thead>
                                <tbody id="id_dashboardTableRowCompany">

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Developer Meetup Card -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="card card-developer-meetup">
                            <div class="meetup-img-wrapper rounded-top text-center">
                                <img src="/dashboardPage/app-assets/images/illustration/email.svg" alt="Meeting Pic" height="170" />
                            </div>
                            <div class="card-body">
                                <div class="col-lg-12 col-md-12"  id="id_dashboardAgendaNoteCardContent">

                                </div>
                            </div>
                            <!-- Dynamic Default Pagination starts -->
                            <ul class="pagination-sm page1-links justify-content-end mr-2" id="id_dashboardAgendaNoteCardPagination"></ul>
                            <!-- Dynamic Default Pagination ends -->
                        </div>
                    </div>
                    <!--/ Developer Meetup Card -->
                </div>

                <div class="row match-height">
                    
                    <div class="col-lg-8 col-md-6 col-12">
                        <div class="card">
                            <table class="datatables-basic table" id="id_dashboardTableCustomer">
                                <thead>
                                    <tr>
                                        <th>İş Emri No</th>
                                        <th>Firma</th>
                                        <th>Plaka</th>
                                        <th>Telefon</th>
                                        <th>Borç</th>
                                        <th>Yönetim</th>
                                    </tr>
                                </thead>
                                <tbody id="id_dashboardTableRowCustomer">

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Goal Overview Card -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h4 class="card-title">Aylık Hedef</h4>
                            </div>
                            <div class="card-body p-0">
                                <div id="goal-overview-radial-bar-chart" class="my-2"></div>
                                <div class="row border-top text-center mx-0">
                                    <div class="col-6 border-right py-1">
                                        <p class="card-text text-muted mb-0">Tamamlanan</p>
                                        <h3 class="font-weight-bolder mb-0" id="id_dashboardMonthlyGoalOverviewFinished"></h3>
                                    </div>
                                    <div class="col-6 py-1">
                                        <p class="card-text text-muted mb-0">Hedeflenen</p>
                                        <h3 class="font-weight-bolder mb-0" id="id_dashboardMonthlyGoalOverviewGoal"></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Goal Overview Card -->
                </div>

            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button>

</th:block>

<th:block layout:fragment="contentJs">
    <!------------------------------------------------------- Other JS Folder - Start ---------------------------------------------------------->
    <script th:src="@{/dashboardPage/app-assets/vendors/js/charts/apexcharts.min.js}"></script>
    <script th:src="@{/dashboardPage/app-assets/vendors/js/pagination/jquery.bootpag.min.js}"></script>
    <script th:src="@{/dashboardPage/app-assets/vendors/js/pagination/jquery.twbsPagination.min.js}"></script>
    <script th:src="@{/customizeJs/dashboard.js}"></script>
    <!------------------------------------------------------- Other JS Folder - End ------------------------------------------------------------>
</th:block>

</body>
<!-- END: Body-->

</html>