<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout"
      class="loading semi-dark-layout" lang="en" data-layout="semi-dark-layout" data-textdirection="ltr">

<!-- BEGIN: Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <title>İrsaliye</title>
    <link rel="shortcut icon" type="image/x-icon" href="/homePage/assets/img/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->
<body>


<th:block layout:fragment="content">
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-body">
                <!-- Ana ekrana aktarılmak istenen component'ler burada yazılmalıdır. -->

                <section class="form-control-repeater">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">İrsaliye Oluştur</h4>
                                </div>
                                <div class="card-body">
                                    <form id="id_dispatchNoteSaveForm" class="invoice-repeater">
                                        <div class="row">
                                            <div class="col-md-4 col-12 mb-1">
                                                <label for="id_dispatchNoteCompany">Yetkili Firma</label>
                                                <select id="id_dispatchNoteCompany" class="select2 form-control form-control-lg">

                                                </select>
                                            </div>
                                            <div class="col-md-4 col-12 mb-1">
                                                <label for="id_dispatchNoteCustomer">Müşteri</label>
                                                <select id="id_dispatchNoteCustomer" class="select2 form-control form-control-lg">

                                                </select>
                                            </div>
                                            <div class="col-md-2 col-12 mb-1">
                                                <label for="id_dispatchNoteTax">KDV</label>
                                                <select id="id_dispatchNoteTax" class="form-control">
                                                    <option>Yok</option>
                                                    <option>Dahil</option>
                                                    <option>%18</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 col-12">
                                                <label for="id_dispatchNoteDiscount">İskonto</label>
                                                <div class="input-group input-group-merge">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">%</span>
                                                    </div>
                                                    <input id="id_dispatchNoteDiscount" type="number" class="form-control phone-number-mask" placeholder="İskonto" />
                                                </div>
                                            </div>
                                        </div>
                                        <div data-repeater-list="invoice">
                                            <div data-repeater-item>
                                                <div class="row d-flex align-items-end">
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group">
                                                            <label for="id_dispatchNoteWork">Yapılan İş</label>
                                                            <textarea id="id_dispatchNoteWork" class="form-control" rows="1"></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-1 col-12">
                                                        <div class="form-group">
                                                            <label for="id_dispatchNoteQuantity">Miktar</label>
                                                            <input id="id_dispatchNoteQuantity" type="number" class="form-control" aria-describedby="itemquantity"/>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-1 col-12">
                                                        <div class="form-group">
                                                            <label for="id_dispatchNotePrice">Fiyat</label>
                                                            <input id="id_dispatchNotePrice" type="number" class="form-control" aria-describedby="itemcost"/>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-md-1 col-12">
                                                        <div class="form-group">
                                                            <label for="id_dispatchNoteTotal">Toplam</label>
                                                            <input id="id_dispatchNoteTotal" type="text" readonly class="form-control-plaintext" value="$32" />
                                                        </div>
                                                    </div>

                                                    <div class="col-md-1 col-12 mb-50">
                                                        <div class="form-group">
                                                            <button class="btn btn-outline-danger text-nowrap px-1" data-repeater-delete type="button">
                                                                <i data-feather="x" class="mr-25"></i>
                                                                <span>Sil</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="btn btn-icon btn-primary" type="button" data-repeater-create>
                                                    <i data-feather="plus" class="mr-25"></i>
                                                    <span>Satır Ekle</span>
                                                </button>
                                                <button type="submit" class="btn btn-success mr-1">Kaydet</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="basic-datatable">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <table class="datatables-basic table" id="id_dispatchNoteTable">
                                    <thead>
                                        <tr>
                                            <th>Fatura Kodu</th>
                                            <th>Yapılan İş</th>
                                            <th>Miktar</th>
                                            <th>Fiyat</th>
                                            <th>Toplam</th>
                                            <th>Yönetim</th>
                                        </tr>
                                    </thead>
                                    <tbody id="id_dispatchNoteTableRow">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button>
</th:block>


<th:block layout:fragment="contentJs">

    <!------------------------------------------------------- Other JS Folder - Start ---------------------------------------------------------->
    <script th:src="@{/dashboardPage/app-assets/vendors/js/forms/repeater/jquery.repeater.min.js}"></script>
    <script th:src="@{/dashboardPage/app-assets/js/scripts/forms/form-repeater.js}"></script>
    <script th:src="@{/dashboardPage/app-assets/vendors/js/forms/select/select2.full.min.js}"></script>
    <script th:src="@{/dashboardPage/app-assets/js/scripts/forms/form-select2.js}"></script>
    <script th:src="@{/customizeJs/dispatchNote.js}"></script>
    <!------------------------------------------------------- Other JS Folder - End ------------------------------------------------------------>

</th:block>

</body>
<!-- END: Body-->

</html>