<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layoutHome">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Yarbaç Motor Yenileme</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


</head>

<body>

<th:block layout:fragment="content">

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1>Yarbaç Motor Yenilemeye Hoşgeldiniz</h1>
      <h2>Kalite gelecektir...</h2>
      <a href="#about" class="btn-get-started scrollto">Daha Fazla</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="/homePage/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>Tarihçe</h3>
            <p class="fst-italic">
              Firmamız 1968 yılında Tokat’ta OTO YARBAÇ unvanı ile dizel motor  tamiratı ve rektifiye hizmeti vermeye başlamıştır. Gelişen teknoloji ile birlikte, 1983 yılında daha iyi hizmet vermek için, tamiratı sonlandırılıp makine parkı tamamen yenileyip, 2000 yılında YARBAÇ OTOMOTİV SAN TİC LTD ŞTİ. ikinci kuşak olarak hizmet vermeye devam etmiştir.
              Firmamız kalitesini onaylatmak amacı ile 2008 yılı başında ISO 9001–2000 kalite standardına göre belgelendirilmiş ve GMY servis ağına katılmıştır.
              Hedefimiz, 48 yıllık tecrübemizi ve kaliteli işçiliğimizi teknolojinin sunduğu imkânlarla birleştirerek müşterilerimize en iyi hizmeti vermektir.
            </p>
            <h3>Kalite Politikamız</h3>
            <p class="fst-italic">
              Verdiğimiz hizmetlerde koşulsuz müşteri memnuniyeti sağlamayı, iyi bir “Kalite Yönetim Sistemi” oluşturmayı, etkin bir şekilde uygulamayı ve her geçen gün kendi standartlarımızı geliştirmeyi temel ilke olarak benimsemiş bulunmaktayız.
              Bunu gerçekleştirirken, müşterilerimizin istek ve beklentilerine göre tanımlanan hizmetlerimizi, yasal şartlar çerçevesinde ve eğitilmiş personel ile daha kısa sürede ve daha ekonomik olarak vermeyi, müşteri memnuniyetini sürekli olarak arttırmayı, işbirliği yaptığımız iş ortaklarımıza yüksek tasarruf ve yüksek müşteri memnuniyeti sağlayan ürünler sunmayı, dünyada sektörümüz ile ilgili gelişmeleri izleyerek, bunları ülkemize getirmeyi ve müşterilerimizin istifadesine sunarak, sektörümüzün en iyisi olarak kalmayı hedefliyoruz.
              İnsana yapılan yatırımın en değerli yatırım olduğunun bilincinde olarak, sahip olduğumuz insan kaynağının kalitesini ve gücünü arttırma konusunda, Eğitim Faaliyetlerini önemle değerlendirmekte, tüm çalışanlarımızın kalite hedeflerimiz doğrultusunda eğitimini sağlamakta ve bunu sürekli kılmakta kararlıyız.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row match-height">

          <div class="col-lg-6" data-aos="fade-up">
            <div class="box match-height">
              <span>Misyonumuz</span>
              <p>Hızla gelişen hizmet sektöründe; sürekli gelişme bilinciyle, teknolojiyi yakından takip ederek, eğitimli personel ile ekip çalışmasını ön planda tutarak, güler yüz ve güveni, müşteri memnuniyetiyle bütünleştirip, üstün kalitede hizmeti, bir sistem içerisinde planlı ve sürekli olarak sunmak şirket politikamızdır.</p>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
            <div class="box match-height">
              <span>Vizyonumuz</span>
              <p>Yarbaç Motor Yenileme olarak; Müşterilerimize verdiğimiz tüm hizmetlerde ilkelerimize bağlı kalarak, bölgemizde örnek ve lider bir firma olmak vizyonumuzdur.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="section-title">
          <span>Referanslarımız</span>
          <h2>Referanslarımız</h2>
        </div>

        <div class="row d-flex align-items-center">

          <div class="col-lg-2 col-md-4 col-6">
            <img src="/homePage/assets/img/clients/client-1.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="/homePage/assets/img/clients/client-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="/homePage/assets/img/clients/client-3.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="/homePage/assets/img/clients/client-4.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="/homePage/assets/img/clients/client-5.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="/homePage/assets/img/clients/client-6.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Services Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <span>Hizmetler</span>
          <h2>Hizmetler</h2>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150" id="id_homeServices">

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <span>Team</span>
          <h2>Team</h2>
          <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="/homePage/assets/img/team/team-1.jpg" alt="">
              <h4>Walter White</h4>
              <span>Chief Executive Officer</span>
              <p>
                Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="/homePage/assets/img/team/team-2.jpg" alt="">
              <h4>Sarah Jhinson</h4>
              <span>Product Manager</span>
              <p>
                Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="/homePage/assets/img/team/team-3.jpg" alt="">
              <h4>William Anderson</h4>
              <span>CTO</span>
              <p>
                Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <span>İletişim</span>
          <h2>İletişim</h2>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Adres</h3>
              <p>San. Sit. 23. Blok Yeniyurt Mah. Gürcan Özbek Cad. 7. Sokak No:8 Tokat</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>E-Posta</h3>
              <p>yarbacmotor@gmail.com</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Bizi Arayın</h3>
              <p>+90 (356) 214 15 66</p>
            </div>
          </div>
        </div>

        <div class="row" data-aos="fade-up">

          <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://maps.google.com/maps?q=Yeniyurt,%203915.%20Sk.%20No:8,%2060030%20Tokat%20Merkez/Tokat&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

</th:block>

<th:block layout:fragment="contentJs">
  <!------------------------------------------------------- Other JS Folder - Start ---------------------------------------------------------->
  <script th:src="@{/customizeJs/home.js}"></script>
  <!------------------------------------------------------- Other JS Folder - End ------------------------------------------------------------>
</th:block>

</body>

</html>