<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout"
      class="loading semi-dark-layout" lang="en" data-layout="semi-dark-layout" data-textdirection="ltr">

<!-- BEGIN: Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <title>Fatura</title>
    <link rel="shortcut icon" type="image/x-icon" href="/homePage/assets/img/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">

    <link rel="stylesheet" type="text/css" th:href="@{/dashboardPage/app-assets/css/plugins/forms/pickers/form-flat-pickr.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dashboardPage/app-assets/css/pages/app-invoice.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dashboardPage/app-assets/css/pages/app-invoice-list.css}">

</head>
<!-- END: Head-->
<body>

<th:block layout:fragment="content">

    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-body">

                <section id="nav-tabs-aligned">
                    <div class="row match-height">
                        <!-- Centered Aligned Tabs starts -->
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <ul class="nav nav-tabs justify-content-center" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#invoiceCreate" aria-controls="home-center" role="tab" aria-selected="false">İş Emri Oluştur</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#invoiceList" aria-controls="service-center" role="tab" aria-selected="true">İş Emri Listesi</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Centered Aligned Tabs ends -->
                    </div>
                </section>

                <div class="tab-content">
                    <div class="tab-pane active" id="invoiceCreate" aria-labelledby="home-tab-center" role="tabpanel">

                        <section class="invoice-add-wrapper">
                            <div class="row invoice-add">
                                <!-- Invoice Add Left starts -->
                                <div class="col-xl-9 col-md-8 col-12">
                                    <div class="card invoice-preview-card">
                                        <!-- Header starts -->
                                        <div class="card-body invoice-padding pb-0">
                                            <div class="d-flex justify-content-between flex-md-row flex-column invoice-spacing mt-0">
                                                <div>
                                                    <div class="logo-wrapper">
                                                        <img src="/homePage/assets/img/logo.png" style="max-height: 32px;" alt="" class="img-fluid">
                                                        <h3 class="text-primary invoice-logo" style="color: black !important;">Yarbaç</h3>
                                                    </div>
                                                    <p class="card-text mb-25">Sanayi Sitesi 23. Blok</p>
                                                    <p class="card-text mb-25">Yeniyurt Mah. Gürcan Özbek Cad.</p>
                                                    <p class="card-text mb-0">7. Sokak, No: 8, Tokat/Merkez</p>
                                                </div>
                                                <div class="invoice-number-date mt-md-0 mt-2">
                                                    <div class="d-flex align-items-center justify-content-md-end mb-1">
                                                        <span class="title">İş Emri No:</span>
                                                        <div class="input-group input-group-merge invoice-edit-input-group">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text">
                                                                    <i></i>
                                                                </div>
                                                            </div>
                                                            <input id="id_invoiceAddInvoiceNo" type="text" class="form-control invoice-edit-input"/>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="d-flex align-items-center mb-1">
                                                        <span class="title">Tarih:</span>
                                                        <input id="id_invoiceAddDate" type="text" class="form-control invoice-edit-input date-picker" />
                                                    </div> -->
                                                    <div class="d-flex align-items-center mb-1">
                                                        <span class="title">Fatura:</span>
                                                        <select id="id_invoiceAddBillingStatus" class="form-control">
                                                            <option value="0">Hayır</option>
                                                            <option value="1">Evet</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Header ends -->

                                        <hr class="invoice-spacing" />

                                        <!-- Address and Contact starts -->
                                        <div class="card-body invoice-padding pt-0">
                                            <div class="row">
                                                <div class="col-xl-8 mb-lg-1 ">
                                                    <h6 class="invoice-to-title">Firma:</h6>
                                                    <select id="id_invoiceAddCompany" class="select2 form-control form-control-lg">

                                                    </select>
                                                </div>
                                                <div class="col-xl-4 mb-lg-1 ">
                                                    <h6 class="invoice-to-title">İskonto:</h6>
                                                    <div class="input-group input-group-merge">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">%</span>
                                                        </div>
                                                        <input id="id_invoiceAddDiscount" type="number" class="form-control phone-number-mask" placeholder="İskonto" />
                                                    </div>
                                                </div>
                                                <div class="col-xl-8 mb-lg-1 ">
                                                    <h6 class="invoice-to-title">Müşteri:</h6>
                                                    <div class="invoice-customer">
                                                        <select id="id_invoiceAddCustomer" class="select2 form-control form-control-lg">

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 mb-lg-1 ">
                                                    <h6 class="invoice-to-title">KDV:</h6>
                                                    <div class="invoice-customer">
                                                        <select id="id_invoiceAddVat" class="form-control">
                                                            <option value=18>%18</option>
                                                            <option value=0>Yok</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Address and Contact ends -->

                                        <!-- Product Details starts -->
                                        <div class="card-body invoice-padding invoice-product-details">
                                            <form id="form_repeater" class="source-item">
                                                <div data-repeater-list="list_data">
                                                    <div class="repeater-wrapper" data-repeater-item>
                                                        <div class="row">
                                                            <div class="col-12 d-flex product-details-border position-relative pr-0">
                                                                <div class="row w-100 pr-lg-0 pr-1 py-2">
                                                                    <div class="col-lg-7 col-12 mb-lg-0 mb-2 mt-lg-0 mt-2">
                                                                        <p class="card-text col-title mb-md-50 mb-0">Yapılan İş</p>
                                                                        <input id="id_invoiceAddWork" name="work" type="text" class="form-control" rows="1" value=""></input>
                                                                    </div>
                                                                    <div class="col-lg-1 col-12 my-lg-0 my-2">
                                                                        <p class="card-text col-title mb-md-2 mb-0">Miktar</p>
                                                                        <input id="id_invoiceAddQuantity" name="quantity" type="text" class="form-control" value=""/>
                                                                    </div>
                                                                    <div class="col-lg-2 col-12 my-lg-0 my-2">
                                                                        <p class="card-text col-title mb-md-2 mb-0">Birim Fiyat</p>
                                                                        <input id="id_invoiceAddPrice" name="unitPrice" type="text" class="form-control" value=""/>
                                                                    </div>
                                                                    <div class="col-lg-2 col-12 mt-lg-0 mt-2">
                                                                        <p class="card-text col-title mb-md-50 mb-0">Toplam</p>
                                                                        <p id="idp_invoiceAddTotal" name="total" class="card-text mb-0">0 ₺</p>
                                                                    </div>
                                                                </div>
                                                                <div class="d-flex flex-column align-items-center justify-content-between border-left invoice-product-actions py-50 px-25">
                                                                    <i class="cursor-pointer font-medium-3 far fa-trash-alt" data-repeater-delete></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-1">
                                                    <div class="col-12 px-0">
                                                        <button id="idp_invoiceAddLineButton" type="button" class="btn btn-primary btn-sm btn-add-new" data-repeater-create>
                                                            <i data-feather="plus" class="mr-25"></i>
                                                            <span class="align-middle">Satır Ekle</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- Product Details ends -->

                                        <!-- Invoice Total starts -->
                                        <div class="card-body invoice-padding">
                                            <div class="row invoice-sales-total-wrapper">
                                                <div class="col-md-6 order-md-1 order-2 mt-md-0 mt-3"></div>
                                                <div class="col-md-6 d-flex justify-content-end order-md-2 order-1">
                                                    <div class="invoice-total-wrapper">
                                                        <div class="invoice-total-item">
                                                            <p class="invoice-total-title">Toplam:</p>
                                                            <p id="idp_invoiceAddTotalValue" class="invoice-total-amount"></p>
                                                        </div>
                                                        <div class="invoice-total-item">
                                                            <p class="invoice-total-title">İskonto:</p>
                                                            <p id="idp_invoiceAddDiscount" class="invoice-total-amount"></p>
                                                        </div>
                                                        <hr class="my-50" />
                                                        <div class="invoice-total-item">
                                                            <p class="invoice-total-title">Ara Toplam:</p>
                                                            <p id="idp_invoiceAddSubtotal" class="invoice-total-amount"></p>
                                                        </div>
                                                        <div class="invoice-total-item">
                                                            <p class="invoice-total-title">KDV:</p>
                                                            <p id="idp_invoiceAddVat" class="invoice-total-amount"></p>
                                                        </div>
                                                        <hr class="my-50" />
                                                        <div class="invoice-total-item">
                                                            <p class="invoice-total-title">Ödenecek Tutar:</p>
                                                            <p id="idp_invoiceAddDebt" class="invoice-total-amount"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Invoice Total ends -->

                                        <hr class="invoice-spacing mt-0" />

                                        <div class="card-body invoice-padding py-0">
                                            <!-- Invoice Note starts -->
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group mb-2">
                                                        <label for="id_invoiceAddNote" class="form-label font-weight-bold">Not:</label>
                                                        <textarea id="id_invoiceAddNote" class="form-control" rows="2"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Invoice Note ends -->
                                        </div>
                                    </div>
                                </div>
                                <!-- Invoice Add Left ends -->

                                <!-- Invoice Add Right starts -->
                                <div class="col-xl-3 col-md-4 col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <button onclick="fncSaveButton()" type="button" class="btn btn-success btn-block">Kaydet</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- Invoice Add Right ends -->
                            </div>
                        </section>

                    </div>
                    <div class="tab-pane" id="invoiceList" aria-labelledby="service-tab-center" role="tabpanel">

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header border-bottom p-1">
                                        <h2>Filtrele</h2>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4 col-12 mb-1">
                                                <label for="id_invoiceListFilterDate">Tarih</label>
                                                <input type="text" id="id_invoiceListFilterDate" class="form-control flatpickr-range flatpickr-input active" placeholder="YYYY-MM-DD to YYYY-MM-DD" readonly="readonly">
                                            </div>
                                            <div class="col-md-4 col-12 mb-1">
                                                <label>Firma</label>
                                                <select id="id_invoiceListFilterCompany" class="select2 form-control">

                                                </select>
                                            </div>
                                            <div class="col-md-4 col-12 mb-1">
                                                <label for="id_invoiceListFilterBillingStatus">Fatura Kesim</label>
                                                <select class="form-control mb-1" id="id_invoiceListFilterBillingStatus">
                                                    <option value="2" selected>Tümü</option>
                                                    <option value="1">Evet</option>
                                                    <option value="0">Hayır</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="card">
                                    <table class="datatables-basic table display nowrap" id="id_invoiceAddTable">
                                        <thead>
                                        <tr>
                                            <th>İş Emri No</th>
                                            <th>Firma</th>
                                            <th>Plaka</th>
                                            <th>Fatura Kesim</th>
                                            <th>Toplam Tutar</th>
                                            <th>Ödenen Miktar</th>
                                            <th>Borç</th>
                                            <th>Kayıt Tarihi</th>
                                            <th>Yönetim</th>
                                        </tr>
                                        </thead>
                                        <tbody id="id_invoiceAddTableRow">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

</th:block>

<th:block layout:fragment="contentJs">

    <script th:src="@{/dashboardPage/app-assets/vendors/js/forms/repeater/jquery.repeater.min.js}"></script>
    <script th:src="@{/dashboardPage/app-assets/vendors/js/forms/select/select2.full.min.js}"></script>
    <script th:src="@{/dashboardPage/app-assets/js/scripts/forms/form-select2.js}"></script>
    <script th:src="@{/dashboardPage/app-assets/vendors/js/extensions/moment.min.js}"></script>
    <script th:src="@{/dashboardPage/app-assets/vendors/js/pickers/pickadate/picker.js}"></script>
    <script th:src="@{/dashboardPage/app-assets/vendors/js/pickers/pickadate/picker.date.js}"></script>
    <script th:src="@{/dashboardPage/app-assets/vendors/js/pickers/pickadate/picker.time.js}"></script>
    <script th:src="@{/dashboardPage/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js}"></script>
    <script th:src="@{/dashboardPage/app-assets/js/scripts/forms/pickers/form-pickers.js}"></script>
    <script th:src="@{/customizeJs/invoiceAdd.js}"></script>

</th:block>

</body>
</html>